<section layout:decorate="~{layouts/main-layout}"
         xmlns:th="http://www.thymeleaf.org"
         xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <div layout:fragment="content" class="page-content">
        <div class="reports-container">

        </div>
        <div class="filters-section">
            <form th:action="@{/admin/reports}"
                  method="get">
                <select name="report_type">
                    <option th:value="1" selected>DATE_RANGE</option>
                    <option th:value="2">TOP RANKING PRODUCT</option>
                    <option th:value="3">CUSTOMER</option>
                </select>
                <input type="date" required name="from">
                <input type="date" required name="to">
                <div th:replace="~{/fragments/buttons :: action-button('GENERATE','bi bi-file-earmark-bar-graph')}"></div>
            </form>
        </div>
    </div>
</section>