<section layout:decorate="~{layouts/main-layout}"
         xmlns:th="http://www.thymeleaf.org"
         xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <div layout:fragment="content">
        <div class="customer-page">
            <div class="admin-update-order">
                <div class="top-left-data">
                    <h1 th:text="'Order Id:'+${order.orderId}" class="main-id"></h1>
                    <p th:text="${order.customer.username}"></p>
                </div>
                <p th:text="${order.orderAddress}" class="bottom-left-data" style="font-weight: lighter"></p>
                <div class="top-right-data">
                    <p class="gray-tag">Date_Time</p>
                    <p th:text="${order.dateTime}"></p>
                </div>
                <div class="bottom-right-data">
                    <p class="gray-tag">TOTAL+IVA</p>
                    <p th:text="${order.total}" class="ammount"></p>
                </div>
            </div>
            <div class="horizontal-separator">
                <div class="horizontal-line"></div>
                <p>ORDER DETAILS</p>
                <div class="horizontal-line"></div>
            </div>
            <table class="table align-middle">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Product Id</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>Sub Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="fraction :${order.orderFractionsList}">
                        <td>
                            <img th:src="@{|/images/products/${fraction.product.productImageRoute}${fraction.product.extension}|}"
                                 class="admin-catalogue-img">
                        </td>
                        <td th:text="${fraction.product.id}"></td>
                        <td th:text="${fraction.quantity}"></td>
                        <td th:text="${fraction.unitPrice}"></td>
                        <td th:text="${fraction.subtotal}"></td>
                    </tr>
                </tbody>
            </table>
            <!--Si aun no se ha autorizado el pago PaymentStatud!=-->
            <div th:if="${order.paymentStatus.paymentStatusId != 3}"
                 class="update-order-form-container">
                <p th:text="${order.orderStatus.orderStatusDescription}"
                   class="outlined-container">
                <form th:action="@{/admin/update_order_status}"
                      method="post"
                      class="update-order-form">
                    <input type="hidden" name="id" th:value="${order.orderId}" required>
                    <p style="font-weight: lighter">Payment Status</p>
                    <select name="pay_status"
                            class="form-select">
                        <option th:text="${order.paymentStatus.paymentStatusDescription}"
                                selected
                                disabled></option>
                        <option th:each="p_status : ${payment_status.entrySet()}"
                                th:value="${p_status.key}"
                                th:text="${p_status.value}"
                        >
                        </option>
                    </select>
                    <div th:replace="~{/fragments/buttons :: action-button(
                        'SAVE CHANGES',
                        'bi bi-floppy')}"></div>
                </form>
            </div>
            <div th:unless="${order.paymentStatus.paymentStatusId !=3}"
                class="update-order-form-container">
                <p th:text="${order.paymentStatus.paymentStatusDescription}"
                   class="outlined-container"></p>
                <form th:action="@{/admin/update_order_status}"
                      method="post"
                      class="update-order-form">
                    <input type="hidden"  name="id" th:value="${order.orderId}" required>
                    <p style="font-weight: lighter">Order Status</p>
                    <select name="ord_status"
                            class="form-select">
                        <option th:text="${order.orderStatus.orderStatusDescription}"
                                selected
                                disabled></option>
                        <option th:each="o_status : ${order_status.entrySet()}"
                                th:value="${o_status.key}"
                                th:text="${o_status.value}"></option>
                    </select>
                    <div th:replace="~{/fragments/buttons :: action-button(
                        'SAVE CHANGES',
                        'bi bi-floppy')}"></div>
                </form>
            </div>

        </div>
    </div>
</section>