<div th:fragment="modal-add-product-type"
    class="modal fade"
    id="addProductTypeModal"
    tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <form th:action="@{/admin/add_product_type}" method="post">
                    <div class="input-with-label">
                        <label>New Category:</label>
                        <input type="text" name="typeDescription" required>
                    </div>
                    <div th:replace="~{/fragments/buttons :: action-button('ADD CATEGORY','bi bi-plus-square-fill')}"></div>
                </form>
            </div>
        </div>
    </div>
</div>