<div th:fragment="modal-update-password(passwordUpdateDto)"
     class="modal fade"
     id="updatePasswordModal"
     tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/update_password}" th:object="${passwordUpdateDto}" method="post">
                    <div class="modal-body">
                        <div>
                            <label>Confirm new Password</label>
                            <input type="password" th:field="*{newPassword}" required>
                        </div>
                        <div>
                            <label>Confirm new Password</label>
                            <input type="password" th:field="*{confirmPassword}" required>
                        </div>
                        <div>
                            <label>Actual Password</label>
                            <input type="password" th:field="*{oldPassword}" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
