<div th:fragment="modal-update-password(passwordUpdateDto, name, email)"
     class="modal fade"
     id="updatePasswordModal"
     tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="customer-page-header">
                 <i class="bi bi-person-bounding-box"></i>
                 <div class="customer-header-data">
                     <h1 th:text="${name}"></h1>
                     <h2 th:text="${email}"></h2>
                 </div>
            </div>
            <form th:action="@{/update_password}"
                  th:object="${passwordUpdateDto}"
                  method="post">

                <div class="input-with-label">
                    <label>New Password</label>
                    <input type="password"
                           th:field="*{newPassword}"
                           required
                           class="input1">
                </div>

                <div class="input-with-label">
                    <label>Confirm New Password</label>
                    <input type="password"
                           required
                           class="input2">
                </div>

                <div class="input-with-label">
                    <label for>Actual Password</label>
                    <input type="password"
                           th:field="*{oldPassword}"
                           required>
                </div>
                <button type="submit"
                        class="button submitButton"
                        disabled>
                    <p>UPDATE PASSWORD</p>
                    <div class="divider"></div>
                    <i class="bi bi-shield-fill-exclamation"></i>
                </button>
            </form>
        </div>
    </div>
</div>
