<div th:fragment="modal-update-product(categories)"
     class="modal fade"
     id="updateProductModal"
     tabindex="-1">
    <!--Aqui importamos mi css especifico para este modal-->
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <form
                        th:action="@{/admin/update_product}"
                        th:object="${updateProductDto}"
                        enctype="multipart/form-data"
                        method="post"
                >
                    <div class="image-data-container">
                        <div class="form-img-container">
                            <img src=""
                                 alt="No Image Existing"
                                 id="img-preview"
                                 class="img-preview"
                            >
                            <label for="image-input"
                                   class="custom-file-button">
                                <i class="bi bi-upload"></i>
                            </label>
                            <input type="file"
                                   id="image-input"
                                   class="image-input"
                                   accept="image/*"
                                   name="image"
                            >
                        </div>
                        <div class="data-container">
                            <div class="top-left-data">
                                <p id="id" class="main-id"></p>
                            </div>
                        </div>
                    </div>

                    <input type="text"
                           name="id"
                           id="product-id"
                           hidden>

                    <div class="input-with-label">
                        <label>Name</label>
                        <input type="text"
                               name="name"
                               id="product-name"
                               required>
                    </div>

                    <div class="input-with-label">
                        <label>Price</label>
                        <input type="number"
                               step=".01"
                               name="price"
                               id="product-price"
                               required>
                    </div>

                    <div class="input-with-label">
                        <label>Stock</label>
                        <input type="number"
                               step="1"
                               name="stock"
                               id="product-stock"
                               required>
                    </div>

                    <div class="select-paired">
                        <div class="select-with-label">
                            <label>CATEGORY
                                <select name="productTypeId"
                                        id="product-category"
                                        class="form-select"
                                        required>
                                    <option value="${product.productType.id}"
                                            selected
                                            disabled>
                                        Categories...
                                    </option>
                                    <option th:each="entry : ${categories.entrySet()}"
                                            th:value="${entry.key}"
                                            th:text="${entry.value}"></option>
                                </select>
                            </label>
                        </div>

                        <div class="select-with-label">
                            <label>ACTIVE
                                <select name="active"
                                        id="product-active"
                                        class="form-select"
                                        required>
                                    <option value="true" selected>Active/Show</option>
                                    <option value="false">Not Active/Hidden</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div th:replace="~{/fragments/buttons :: action-button('SAVE CHANGES','bi bi-floppy')}"></div>
                </form>
            </div>
    </div>
</div>