<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--Boton usado para navegar-->
<th:block th:fragment="navigation-button(link,description,iconUrl)">
    <a th:href="@{${link}}"
       class="button">
        <p th:text="${description}">NavigationDescription</p>
        <div class="divider"></div>
        <i th:class="${iconUrl}"></i>
    </a>
</th:block>
<!--Boton usado para metodos post-->
<th:block th:fragment="action-button(description,iconUrl)">
    <button type="submit"
            class="button">
        <p th:text="${description}"></p>
        <div class="divider"></div>
        <i th:class="${iconUrl}"></i>
    </button>
</th:block>

<!--Boton usado para desplegar modales-->
<th:block th:fragment="modal-trigger(targetId, description, iconUrl)">
    <button type="button"
            class="button"
            th:data-bs-toggle="modal"
            th:data-bs-target="${'#' + targetId}">
        <p th:text="${description}"></p>
        <div class="divider"></div>
        <i th:class="${iconUrl}"></i>
    </button>
</th:block>

</body>
</html>