<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="width: 40rem; padding: 2rem; display: flex; flex-direction: column; align-items: center" >
    <h1 style="width: 100%;
        background: #B600BF;
        color: white;
        height: 4rem;
        font-size: 2.5rem;
        display: flex;
        align-items: center;">MyECommerce</h1>
    <p>Hi user ${name}!</p>
    <p>To recover your password click in the link below</p>
    <a href="${recovery_url}">Reset password here!</a>
</body>
</html>