<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<form th:action="@{/start_password_recovery}" method="post">
    <label>
        Email
        <input type="email" name="mail" placeholder="E-mail" required>
    </label>
    <div th:replace="~{/fragments/buttons :: action-button('RECOVER PASSWORD','bi bi-envelope-at')}"></div>
</form>

</body>
</html>