<section layout:decorate="~{layouts/main-layout}"
         xmlns:th="http://www.thymeleaf.org"
         xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
         xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
         sec:authorize="isAuthenticated()">
    <div layout:fragment="content">
        <div class="profile-container">
            <div class="customer-data">
                <i class="bi bi-person-bounding-box"></i>
                <h1 th:text="|${userData.name} ${userData.firstName}|">Customer CompleteName</h1>
                <h2 th:text="${userData.username}">Customer@Email.com</h2>
            </div>
            <div class="horizontal-separator">
                <div class="horizontal-line"></div>
                <p>My Information</p>
                <div class="horizontal-line"></div>
            </div>
            <div class="profile-data">
                <div th:replace="~{fragments/profile-field :: user-field(Name,${userData.name})}"></div>
                <div th:replace="~{fragments/profile-field :: user-field(FirstName,${userData.firstName})}"></div>
                <div th:replace="~{fragments/profile-field :: user-field(Email,${userData.email})}"></div>
                <div th:replace="~{fragments/profile-field :: user-field(Phone,${userData.phone})}"></div>
                <div th:replace="~{fragments/profile-field :: user-field(Address,${userData.userAddress})}"></div>
                <div class="buttons-paired">
                    <!--Botones para modales-->
                    <div th:replace="~{fragments/buttons :: modal-trigger(updatePasswordModal,'UPDATE PASSWORD', 'bi bi-shield-fill-exclamation')}"></div>
                    <div th:replace="~{fragments/buttons :: modal-trigger(updateProfileModal,'UPDATE PROFILE', 'bi bi-pencil-square')}"></div>
                </div>
            </div>
        </div>
        <!--Modales-->
        <div th:replace="~{modals/update-password :: modal-update-password(${passwordUpdateDto}, ${userData.name} +''+${userData.firstName},${userData.email})}"></div>
        <div th:replace="~{modals/update-user :: modal-update-profile(${userUpdateDto})}"></div>
        <script th:src="@{/js/inputs-match.js}"></script>
    </div>
</section>