<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/auth.css}">
</head>
<body>
    <div th:replace="~{fragments/redirect-message :: redirect-message}"></div>
    <div class="form-data-container">
        <form th:action="@{/reset_password}"
              class="auth-form"
              method="post">
            <input type="hidden" name="token" th:value="${token}">
            <div class="auth-input-label">
                <label>New Password</label>
                <input type="password"
                       name="password"
                       placeholder="New Password"
                       required
                       class="input1">
            </div>

            <div class="auth-input-label">
                <label>Confirm Password</label>
                <input type="password"
                       placeholder="New Password"
                       required
                       class="input2">
            </div>

            <button type="submit"
                    class="button submitButton"
                    disabled>
                <p>UPDATE PASSWORD</p>
                <div class="divider"></div>
                <i class="bi bi-shield-fill-exclamation"></i>
            </button>
        </form>
        <div class="auth-data">
            <h3>MyECommerce</h3>
            <p>RESET PASSWORD</p>
        </div>
    </div>
    <script th:src="@{/js/inputs-match.js}"></script>
</body>
</html>