<section layout:decorate="~{layouts/main-layout}"
         xmlns:th="http://www.thymeleaf.org"
         xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <div layout:fragment="content">
        <div class="customer-page">
            <div class="customer-page-header">
                <i class="bi bi-person-bounding-box"></i>
                <div class="customer-header-data">
                    <h1 th:text="${name}"></h1>
                    <h2 th:text="${email}"></h2>
                </div>
            </div>
            <div class="customer-orders">
                <div th:if="${page.totalElements == 0}">
                    <p>You have not created an order yet.</p>
                </div>
                <div th:if="${page.isEmpty() && page.totalElements > 0}">
                    <p>The page you've requested is empty try with another one</p>
                </div>
                <div th:if="${page.hasContent()}">
                    <div class="horizontal-separator">
                        <div class="horizontal-line"></div>
                        <p>YOUR ORDERS</p>
                        <div class="horizontal-line"></div>
                    </div>
                    <div th:each="order : ${page.content}"
                         class="order">
                        <div class="top-left-data">
                            <p th:text="'Id: ' + ${order.orderId}" class="main-id"></p>
                            <p th:text="${order.orderStatus.orderStatusDescription}" class="outlined-container"></p>
                        </div>
                        <div class="bottom-left-data">
                            <p class="gray-tag">Total</p>
                            <p th:text="${order.total}" class="ammount">Price</p>
                        </div>
                        <div class="top-right-data">
                            <p th:text="${#temporals.format(order.dateTime, 'dd-MM-yyyy HH:mm')}" class="gray-tag">TimeStamp</p>
                            <p th:text="${order.totalProducts} + ' items'" class="order-items">TotalItems</p>
                        </div>

                        <div class="bottom-right-data">
                            <a th:href="@{/customer/order_details(id=${order.orderId})}"
                               class="button">
                                <p>SEE DETAILS</p>
                                <div class="divider"></div>
                                <i class="bi bi-info-square"></i>
                            </a>
                        </div>
                        <div class="divider-line"></div>
                    </div>

                    <div th:replace="~{fragments/paginator :: paginator(
                    '/customer/orders',
                    ${page.number},
                    ${page.totalPages},
                    ${page.isFirst()},
                    ${page.isLast()},
                    ${page.hasPrevious()},
                    ${page.hasNext()},
                    ${filter_value})}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>