<section layout:decorate="~{layouts/main-layout}"
         xmlns:th="http://www.thymeleaf.org"
         xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <div layout:fragment="content">
        <div class="customer-page">
            <div class="customer-page-header">
                <i class="bi bi-person-bounding-box"></i>
                <div class="customer-header-data">
                    <h1 th:text="${name}"></h1>
                    <h2 th:text="${email}"></h2>
                    <div th:unless="${#lists.isEmpty(cart)}">
                        <div class="bottom-left-data">
                            <p class="gray-tag">Total+IVA</p>
                            <p th:text="'$' + ${total}" class="ammount">$0.00</p>
                        </div>
                        <div class="bottom-right-data">
                            <form th:action="@{/customer/create_order}"
                                  method="post">
                                <div th:replace="~{fragments/buttons :: action-button('PAY ORDER','bi bi-credit-card')}"></div>
                            </form>
                            <!--Stripe Pasarela de pago-->
<!--                            <form th:action="@{/customer/shopping_cart}"-->
<!--                                  method="post">-->
<!--                                <div th:replace="~{fragments/buttons :: action-button('PAY WITH STRIPE','bi bi-credit-card')}"></div>-->
<!--                            </form>-->
                        </div>
                    </div>
                </div>
            </div>
            <div th:if="${#lists.isEmpty(cart)}">
                <p style="font-size: 1.25rem; font-weight: bold">Your cart is empty, please add products to your shopping cart</p>
            </div>
            <div th:unless="${#lists.isEmpty(cart)}" class="cart-content">
                <div class="horizontal-separator">
                    <div class="horizontal-line"></div>
                    <p>YOUR CART</p>
                    <div class="horizontal-line"></div>
                </div>
                <div th:each="product : ${cart}"
                     class="image-data-container">
                    <img th:src="@{|/images/products/${product.getImageName()}|}"
                         alt="ProductImage">
                    <div class="data-container">
                        <div class="top-left-data">
                            <p th:text="${product.productName}" class="main-id"></p>
                            <p th:text="${product.category}" class="outlined-container"></p>
                        </div>
                        <div class="bottom-left-data">
                            <p class="gray-tag">Price</p>
                            <p th:text="${product.price}" class="ammount"></p>
                        </div>
                        <form th:action="@{/customer/update_quantity}"
                              class="top-right-data">
                            <input type="hidden" name="id" th:value="${product.getProductId()}">
                            <div class="quantity-selector">
                                <button type="submit"
                                        name="action"
                                        value="decrease"
                                >
                                    -
                                </button>
                                <p class="qty-input"
                                   th:text="${product.getQuantity()}">
                                    quantity
                                </p>
                                <button type="submit"
                                        name="action"
                                        value="increase"
                                >
                                    +
                                </button>
                            </div>
                        </form>
                        <div class="bottom-right-data">
                            <div th:replace="~{/fragments/buttons ::navigation-button('/customer/remove_fsc?id=' + ${product.productId},'REMOVE PRODUCT','bi bi-trash')}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>